<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.zeinengjie.mapper.BargainMapper">
    <select id="getBargain" resultType="java.lang.Integer">
        SELECT COUNT(*) as countN FROM games WHERE game_name = #{gameName};
    </select>

    <resultMap id="BargainResultMap" type="com.example.zeinengjie.pojo.derive.Bargain">
        <id property="id" column="id"/>
        <result property="gameName" column="game_name"/>
        <result property="title" column="title"/>
        <result property="money" column="money"/>
    </resultMap>

    <select id="getBargains" resultMap="BargainResultMap">
        SELECT * FROM games WHERE  games_status = 1  AND game_name = #{gameName} ORDER BY id DESC LIMIT #{page},#{pageSize};
    </select>

    <select id="getGameItemImg" resultType="java.lang.String">
        SELECT img FROM gameimg WHERE games_id = #{id} ORDER BY id  LIMIT 1
    </select>
</mapper>